.container {
  display: flex;
  flex-direction: column;
}
.container .searchInput {
  background: #ebecec;
  height: 30px;
  border-radius: 15px;
  align-items: center;
  display: flex;
  padding: 0 8px;
  margin: 15px 10px;
  position: relative;
}
.container .searchInput::after {
  position: absolute;
  width: 120%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  content: '';
  left: -10px;
  bottom: -15px;
}
.container .searchInput i {
  color: #999;
}
.container .searchInput input {
  padding-left: 10px;
  font-size: 14px;
}
.hot_container {
  height: 20px;
  background: cyan;
}
.hot_container .hot_search_container {
  display: flex;
  flex-direction: column;
}
.hot_container .hot_list {
  display: flex;
  flex-wrap: wrap;
}
