body {
  margin: 0;
  font: 14px/1.5 Helvetica, sans-serif, STHeiTi;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
li {
  list-style: none;
}

input {
  outline: none;
  background: transparent;
  border: none;
  font-size: 15px;
}

input::placeholder {
  color: #999
}

* {
  margin: 0;
  padding: 0;
}